.places {
  max-width: 1184px;
  margin: 92px 148px 92px 148px;
  outline: 1px solid red;
}
@media screen and (max-width: 1024px){
  .places {
   margin: 92px 48px 92px 48px;
  }}
  @media screen and (max-width: 768px){
    .places {
     margin: 94px 24px 83px 24px;
    }}
    @media screen and (max-width: 320px){
      .places {
       margin: 64px 0px 56px 0px;
      }}