.lead {
  max-width: 984px;
  min-height: 1005px;
  margin: 52px 148px 92px 148px;
}
@media screen and (max-width: 1024px) {
  .lead {
      max-width: 928px;
      min-height: 962px;
      margin: 48px 48px 92px 48px;
  }
}
@media screen and (max-width: 768px) {
  .lead {
      max-width: 768px;
      min-height: 862px;
      margin: 38px 0 88px 0px;
  }
}
@media screen and (max-width: 320px) {
  .lead {
      max-width: 320px;
      min-height: 406px;
      margin: 48px 0 62px 0px;
  }
}
