.place__text {
  grid-area: paragraph;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
@media screen and (max-width: 768px) {
  .place__text {
      gap: 25px;
  }
}
@media screen and (max-width: 368px) {
  .place__text {
      margin: 0 16px 0 16px;
  }
}


