.place__text {
  grid-area: paragraph;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
@media screen and (max-width: 768px) {
  .place__text {
      gap: 25px;
  }
}
@media screen and (max-width: 320px) {
  .place__text {
      margin: 0 15px 0 15px;
  }
}


